body {
  background: radial-gradient(circle, indianred, violet, peachpuff, lightblue, cyan);
}


.container {
  margin-top: 50px;
  /* background: linear-gradient(-90deg, cyan, grey) */
}

.h1 {
  text-decoration-color: blue;
}

.row {
  color: #6A14B2;
}
